.pagina {
    background-color: rgb(153, 94, 17);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    align-content: space-between;
    width: 100%;

    .letras {
        color: rgb(0, 0, 0);
    }
}
