/*los mapas los utilice en la parte de sucursal como para que busquen en el mapa cada direccion*/

$redes:(ver: #aa0f95,
    en:#9b2226,
    el: #bb3e03,
    mapa: #ee9b00,
);

@each $red,
$color in $redes {
    .btn--#{$red} {
        background-color: $color;
    }
}

