@import "generales";
@import "nav";
@import "imagenes";
@import "letras";
@import "footer";
@import "media";
@import "formulario";
@import "operaciones";

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/fondopiola.jpg);
}

header{
    background-color: black;
}


main {
    width: 100%;
}

.letras{
    color: rgb(0, 0, 0); ;
}

.pagina {
    background-color: rgb(153, 94, 17);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comidas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

img {
    width: 100%;
}

.imagenes {
    margin-bottom: 110px;
    width: 300px;
    height: 300px;
}

.imagenes:hover{
    transform: scale(1.05);
    transition: all 1s ease ;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #995e11 ;
    margin-top: 40px;
    margin-bottom: 25px;
}

.formulario{
    background-color:#995e11 ;
    margin: 25px;
}

.sucursal{
    background-color: #995e11;
    display: flex;
    flex-wrap: wrap;
}

.sucursal2{
    width: 600px;
}

@media(max-width:880px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }

    .comidas {
        display: flex;
        flex-direction: column;
        margin: 25px;
    }
}

